* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	font-size: 1.6rem;
}

.block-element {
	background-color: #0a0;
	margin: 10px;
	padding: 20px;
}

/*Para los display del tipo 'inline', no se puede utilizar el margin ni el padding 'top' o 'bottom', solo 'left' y 'right'. Tampo las propiedades width y height.*/

.nav {
	background-color: #ccc;
	text-align: center;
	list-style-type: none;
	padding: 2rem;
}

.nav li {
	display: inline-block;
	font-size: 2rem;
	margin: 1rem 0;
	padding: 0 2rem;
}
