* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

/* ----------------------------HEADER----------------------- */

header {
	background-color: #ddd;
	height: 5vh;
}

.nav,
.img-container,
.nav__menu li {
	font-size: 2rem;
	display: inline-block;
}
.img-container img {
	width: 4.5rem;
	height: 4.5rem;
	padding: 0.5rem;
}

/* Agregado de otro codigo */
.nav {
	position: absolute;
	right: 0;
}
.nav__menu {
	list-style-type: none;
}
.nav__link {
	text-decoration: none;
	color: #000;
}

.nav__menu {
	margin: 1rem;
}

p {
	display: inline-block;
	position: relative;
	bottom: 1.5rem;
	font-size: 2rem;
}

p a {
	text-decoration: none;
	color: #000;
}

/* -----------------------------MAIN--------------------------- */
main {
	height: 90vh;
}

.img-container-main {
	display: inline-block;
	padding: 1rem;
	background-color: #f73;
	height: 90vh;
	width: 16vw;
}

.img-container-main img {
	display: block;
	width: 28rem;
	height: 17rem;
	margin: 1rem 0;
	border-radius: 2rem;
}
.section {
	position: absolute;
	display: inline-block;
	padding: 1rem;
	width: 84vw;
	height: 90vh;
	background-color: #aaa;
}
.section__text {
	/* outline: 1px solid #000; */
	font-size: 3.5rem;
	text-align: center;
}

.img-section {
	/* outline: 1px solid #000; */
	text-align: center;
	margin-top: 6rem;
}

.img-section img {
	display: inline-block;
	width: 35rem;
	height: 50rem;
	margin: 1rem;
	border-radius: 2rem;
}

.text {
	text-align: justify;
	padding: 1rem;
	margin-top: 5rem;
}

/* -------------------------------FOOTER---------------------------- */
footer {
	height: 5vh;
}

.footer__menu {
	font-size: 1.8rem;
	background-color: #fc0;
	padding: 1rem;
}

.footer__menu li {
	list-style-type: none;
	display: inline-block;
	padding: 0 1rem;
}

.footer__menu .footer__item-2 {
	position: absolute;
	right: 0;
}
