* {
	box-sizing: border-box;
	font-family: "ZCOOL QingKe HuangYou", cursive;
}

/* 
* Adyacente siblings 
Aplica el color rojo a todas las etiquetas 'p' que esten cerca de una etiqueta 'h2' (orden descendente; es decir, la 'p' debe estar debajo inmediato de un 'h2', si esta arriba del 'h2' no afecta).

h2 + p {
	color: #d00;
}

* Siblings generales
Aplica el color rojo a todas las etiquetas 'p' que tengan como hermano general a una etiqueta 'h2' (orden descendente; es decir, la 'p' debe estar debajo inmediato o varias lineas debajo de un 'h2', si esta arriba del 'h2' no afecta).

h2 ~ p {
	color: #d00;
}

* Hijo - descendiente
** Hijo
Aplica el color rojo a todas las etiquetas 'p' que sean hijos directos de un 'article'; es decir, con una indentacion, si es más, no afecta.


article > p {
	color: #d00;
}

** Descendiente
Aplica el color rojo a todas las etiquetas 'p' que esten dentro de una etiqueta 'section'. No importa los niveles de indentacion, pueden ser 1 o más.

*/
section p {
	color: #d00;
}
