.main-nav {
    margin-top: 10px;
    font-size: 24px;
    list-style-type: none;
    background-color: #13a4a4;
    padding-left: 0%;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 2px;
}
:root {
    --red: #910;
    --blue: #12e;
}

/* Pseudoclases (:)*/
.main-nav__item a:hover {
    color: var(--red);
}

.main-nav__item a:active {
    color: var(--blue);
}

/* Pseudoelements (::)*/
.main-nav__item a::after {
    content: " | ";
}