/* General settings */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	font-size: 2.5rem;
}

.container {
	border: 0.3rem solid #000;
	display: flex;
	/* height: 50vh; */
	flex-wrap: wrap;
	/* flex-direction: row-reverse; */
	/* Alinea elementos horizontalmente */
	/* justify-content: space-evenly; */
	/* Alinea elementos verticalmente
    align-items: center; */
	/* Solo funciona con 2 filas o mas 
    align-content: flex-end; */
}

.box {
	flex-basis: 10rem;
	flex-grow: 1;
	height: 10rem;
}

.box1 {
	background-color: #0000ff;
}

.box2 {
	background-color: #ff00ff;
}

.box3 {
	background-color: #deb887;
}
.box4 {
	background-color: #5f9ea0;
}
.box5 {
	background-color: #ff7f50;
}
.box6 {
	background-color: #fa8072;
}
