* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: Verdana;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

main {
	width: 100vw;
	height: 100vh;
	background-color: #909;
}

section {
	width: 80%;
	/*Para usar el min y max width, se debe tener un width base. Y casi siempre esta base esta en porcentaje.*/
	min-width: 320px;
	max-width: 500px;
	margin: 0 auto;
	/*Minimo height es 500px, pero si hay mas contenido que requiere mas tamaño, crece junto al contenido para llenarlo.*/
	min-height: 500px;
	background-color: #090;
	font-size: 1.6rem;
}
