/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

/* Global Variables */
:root {
	--primary-color: #003476;
	--secondary-color: #1098fa;
	--header-size: 4rem;
	--font: 1.8rem;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

header {
	width: 100vw;
	height: 15vh;
	background-color: var(--primary-color);
}

main {
	font-size: var(--font);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 70vh;
}

h1 {
	font-size: var(--header-size);
	color: var(--primary-color);
}

footer {
	width: 100vw;
	height: 15vh;
	background-color: var(--secondary-color);
}
