* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

/*Desafio*/
main {
	/* border: 2px solid #000; */
	margin: 20px;
	font-size: 1.2rem;
	font-family: sans-serif;
}

#top {
	position: relative;
	background-color: #15278dab;
	color: #fff;
	margin: 0 auto;
	border: 1px solid #000;
	width: 20rem;
	border-radius: 10px;
	height: 6rem;
	top: 3rem;
}

#body {
	background-color: #2200ff;
	border: 1px solid #000;
	width: 60rem;
	color: #fff;
	min-height: 20rem;
	margin: 0 auto;
	border-radius: 10px;
}

.box .title {
	text-align: center;
	font-weight: 700;
	margin: 20px auto;
	width: 10rem;
	height: 1.6rem;
}

.box .text {
	text-align: justify;
	width: 50rem;
	margin: 5rem auto;
}

img {
	border-radius: 10px;
}

/*Clase*/
/* .parent {
	font-size: 1.8rem;
	display: inline-block;
	border: 2px solid #000;
}

.box {
	display: inline-block;
	background-color: #f00;
	width: 10rem;
	height: 10rem;
}

#two {
	background-color: #0f0;
} */
