* {
	box-sizing: border-box;
	font-family: "ZCOOL QingKe HuangYou", cursive;
}

/* 
Un 'em' toma el font size del padre mas cercano, si no, subira de nivel hasta que algun elemento padre tenga definido un font size.

Ejemplo: si el padre tiene 16px, 1em sera 16px o (16px * 1).
1.5em sera -> 16px * 1.5 = 24px y asi.
*/

.text-container {
	font-size: 1.5em;
}
