/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

img {
	/* Es importante este width, porque se va a adaptar al tamaño del padre */
	width: 100%;
}
