* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

h1 {
	color: #d1f;
	margin-bottom: 10px;
	font-family: serif;
}

.title {
	font-size: 32px;
	font-family: monospace;
}

.nav {
	list-style-type: none;
	margin-top: 0%;
	padding-left: 0%;
}

.nav li {
	display: inline-block;
}

.nav a {
	color: #fff;
	padding: 5px;
	font-size: 24px;
	border-radius: 2px;
	text-decoration: none;
	background-color: #13a4a4;
}

.nav .blog {
	background-color: #cc3030;
}
