/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	font-size: 2rem;
}

header,
footer {
	height: 10vh;
}

main {
	height: 80vh;
}

/* ----------------------- HEADER --------------------- */

header {
	background-color: #ccc;
	display: flex;
	/* justify-content: flex-start; */
	align-items: center;
}

.img-logo img {
	height: 8vh;
}

.logo {
	display: flex;
	margin-left: 2rem;
}

nav {
	position: absolute;
	right: 0;
}

.menu {
	display: flex;
	list-style-type: none;
}
.menu li {
	margin: 0 2rem;
	padding: 0 1rem;
}
/* ------------------------ MAIN ---------------------- */
main {
	display: flex;
}

.aside-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ff4400;
	width: 20vw;
}

.aside-section .box {
	background-color: #aaaaaa;
	border-radius: 2rem;
	width: 80%;
	height: 20%;
}

.main-section {
	display: flex;
	align-items: center;
	padding: 2rem;
	background-color: #aaaaaa;
	width: 80vw;
}

.main-section .text-main {
	text-align: justify;
}
/* ----------------------- FOOTER --------------------- */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffff00;
}
.menu-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* background-color: #0f0; */
}

.menu-footer li {
	list-style-type: none;
}
