* {
	box-sizing: border-box;
	font-family: "ZCOOL QingKe HuangYou", cursive;
}

/* El 'rem' a diferencia del 'em', toma siempre como referencia el font size root; es decir, el que vienen por defecto en el navegador o en la etiqueta 'html' */

html {
	/*Es un truco para trabajar mas comodo, como si estariamos trabajando con 'px'*/
	font-size: 62.5%; /* Equivalente a 10px*/
}

p {
	font-size: 1.6rem;
}
