/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.c0 {
	width: 100%;
	min-width: 15rem;
	height: 15rem;
}

.c1 {
	background-color: #003476;
}
.c2 {
	background-color: #0062d2;
}
.c3 {
	background-color: #b4d2f7;
}
.c4 {
	background-color: #d5decc;
}
.c5 {
	background-color: #dfe1e5;
}

@media (min-width: 600px) {
	.c1 {
		width: 25%;
	}
	.c2 {
		width: 75%;
	}
}

@media (min-width: 800px) {
	/* .container {
		width: 800px;
		margin: 0 auto;
	} */

	.c1,
	.c3 {
		width: 30%;
	}
	.c2 {
		width: 40%;
	}
	.c4,
	.c5 {
		width: 50%;
	}
}
