body {
    background-color: #666;
    color: #ccc;
}

/* Class */
.titulo {
    font-size: 42px;
}
/* Element */
a {
    color: #ccc;
    text-decoration: none;
}
/* ID */
#list {
    font-family: sans-serif;
    font-size: 18px;
}

/* Attribute */
a[target="_blank"] {
    color: #48e;
}