/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.c0 {
	width: 100%;
	min-width: 15rem;
	height: 15rem;
}

.c4 {
	height: auto;
}
.c1 {
	background-color: #003476;
}
.c2 {
	background-color: #0062d2;
}
.c3 {
	background-color: #b4d2f7;
}
.c4 {
	background-color: #d5decc;
}
.c5 {
	background-color: #dfe1e5;
}

/* --------- MEDIA QUERIES----------- */
/* Siempre deben ir al ultimo */
@media (min-width: 600px) {
	.c1 {
		width: 25%;
		/* height: auto; */
	}
	.c4 {
		width: 75%;
	}
	.c5 {
		width: 100%;
	}
}

@media (min-width: 800px) {
	.container {
		width: 800px;
		margin: 0 auto;
	}
	.c1 {
		width: 50%;
		order: 1;
	}
	.c4 {
		width: 100%;
	}
	.c5 {
		width: 50%;
		order: 2;
	}
}
